1000_clean_dataset.json
Lexicon.csv
Forward_index.json
TheCleanData.json
Inverted_index.json
lexi.csv
.vscode/settings.json
1000_clean.json
ForwardIndex.jpg
Inverted Index structure.txt
LexiconFinal.csv
Scratch.py
vectors.npy
