1000_clean_dataset.json
Lexicon.csv
Forward_index.json
TheCleanData.json
Inverted_index.json
lexi.csv
.gitignore
.vscode/settings.json
1000_clean.json
ForwardIndex.jpg
Inverted Index structure.txt
LexiconFinal.csv
Scratch.py
vectors.npy
Barrels/Clusters_KMEANS.csv
Barrels/clusters.npy
Barrels/vectors_2D_tSNE.npy
Barrels/vectors_3D_tSNE.npy
Barrels/2D_Map.html
Barrels/3D_Cloud.html
Barrels/Index_Barrels/0.json
Barrels/Index_Barrels/1.json
Barrels/Index_Barrels/2.json
Barrels/Index_Barrels/3.json
Barrels/Index_Barrels/4.json
Barrels/Index_Barrels/5.json
Barrels/Index_Barrels/6.json
Barrels/Index_Barrels/7.json
Barrels/Index_Barrels/8.json
Barrels/Index_Barrels/9.json
Barrels/Index_Barrels/10.json
Barrels/Index_Barrels/11.json
Barrels/Index_Barrels/12.json
Barrels/Index_Barrels/13.json
Barrels/Index_Barrels/14.json
Barrels/Index_Barrels/15.json
Barrels/Index_Barrels/16.json
Barrels/Index_Barrels/17.json
Barrels/Index_Barrels/18.json
Barrels/Index_Barrels/19.json
Barrels/Index_Barrels/20.json
Barrels/Index_Barrels/21.json
Barrels/Index_Barrels/22.json
Barrels/Index_Barrels/23.json
Barrels/Index_Barrels/24.json
Barrels/Index_Barrels/25.json
Barrels/Index_Barrels/26.json
Barrels/Index_Barrels/27.json
Barrels/Index_Barrels/28.json
Barrels/Index_Barrels/29.json
Barrels/Index_Barrels/30.json
Barrels/Index_Barrels/31.json
Barrels/Index_Barrels/32.json
Barrels/Index_Barrels/33.json
Barrels/Index_Barrels/34.json
Barrels/Index_Barrels/35.json
Barrels/Index_Barrels/36.json
Barrels/Index_Barrels/37.json
Barrels/Index_Barrels/38.json
Barrels/Index_Barrels/39.json
Barrels/Index_Barrels/40.json
Barrels/Index_Barrels/41.json
Barrels/Index_Barrels/42.json
Barrels/Index_Barrels/43.json
Barrels/Index_Barrels/44.json
Barrels/Index_Barrels/45.json
Barrels/Index_Barrels/46.json
Barrels/Index_Barrels/47.json
Barrels/Index_Barrels/48.json
Barrels/Index_Barrels/49.json
Barrels/Index_Barrels/50.json
Barrels/Index_Barrels/51.json
Barrels/Index_Barrels/52.json
Barrels/Index_Barrels/53.json
Barrels/Index_Barrels/54.json
Barrels/Index_Barrels/55.json
Barrels/Index_Barrels/56.json
Barrels/Index_Barrels/57.json
Barrels/Index_Barrels/58.json
Barrels/Index_Barrels/59.json
Barrels/Index_Barrels/60.json
Barrels/Index_Barrels/61.json
Barrels/Index_Barrels/62.json
Barrels/Index_Barrels/63.json
Barrels/Index_Barrels/64.json
Barrels/Index_Barrels/65.json
Barrels/Index_Barrels/66.json
Barrels/Index_Barrels/67.json
Barrels/Index_Barrels/68.json
Barrels/Index_Barrels/69.json
Barrels/Index_Barrels/70.json
Barrels/Index_Barrels/71.json
Barrels/Index_Barrels/72.json
Barrels/Index_Barrels/73.json
Barrels/Index_Barrels/74.json
Barrels/Index_Barrels/75.json
Barrels/Index_Barrels/76.json
Barrels/Index_Barrels/77.json
Barrels/Index_Barrels/78.json
Barrels/Index_Barrels/79.json
Barrels/Index_Barrels/80.json
Barrels/Index_Barrels/81.json
Barrels/Index_Barrels/82.json
Barrels/Index_Barrels/83.json
Barrels/Index_Barrels/84.json
Barrels/Index_Barrels/85.json
Barrels/Index_Barrels/86.json
Barrels/Index_Barrels/87.json
Barrels/Index_Barrels/88.json
Barrels/Index_Barrels/89.json
Barrels/Index_Barrels/90.json
Barrels/Index_Barrels/91.json
Barrels/Index_Barrels/92.json
Barrels/Index_Barrels/93.json
Barrels/Index_Barrels/94.json
Barrels/Index_Barrels/95.json
Barrels/Index_Barrels/96.json
Barrels/Index_Barrels/97.json
Barrels/Index_Barrels/98.json
Barrels/Index_Barrels/99.json
Barrels/Index_Barrels/100.json
Barrels/Index_Barrels/101.json
Barrels/Index_Barrels/102.json
Barrels/Index_Barrels/103.json
Barrels/Index_Barrels/104.json
Barrels/Index_Barrels/105.json
Barrels/Index_Barrels/106.json
Barrels/Index_Barrels/107.json
Barrels/Index_Barrels/108.json
Barrels/Index_Barrels/109.json
Barrels/Index_Barrels/110.json
Barrels/Index_Barrels/111.json
Barrels/Index_Barrels/112.json
Barrels/Index_Barrels/113.json
Barrels/Index_Barrels/114.json
Barrels/Index_Barrels/115.json
Barrels/Index_Barrels/116.json
Barrels/Index_Barrels/117.json
Barrels/Index_Barrels/118.json
Barrels/Index_Barrels/119.json
Barrels/Index_Barrels/120.json
Barrels/Index_Barrels/121.json
Barrels/Index_Barrels/122.json
Barrels/Index_Barrels/123.json
Barrels/Index_Barrels/124.json
Barrels/Index_Barrels/125.json
Barrels/Index_Barrels/126.json
Barrels/Index_Barrels/127.json
Barrels/Index_Barrels/128.json
Barrels/Index_Barrels/129.json
Barrels/Index_Barrels/130.json
Barrels/Index_Barrels/131.json
Barrels/Index_Barrels/132.json
Barrels/Index_Barrels/133.json
Barrels/Index_Barrels/134.json
Barrels/Index_Barrels/135.json
Barrels/Index_Barrels/136.json
Barrels/Index_Barrels/137.json
Barrels/Index_Barrels/138.json
Barrels/Index_Barrels/139.json
Barrels/Index_Barrels/140.json
Barrels/Index_Barrels/141.json
Barrels/Index_Barrels/142.json
Barrels/Index_Barrels/143.json
Barrels/Index_Barrels/144.json
Barrels/Index_Barrels/145.json
Barrels/Index_Barrels/146.json
Barrels/Index_Barrels/147.json
Barrels/Index_Barrels/148.json
Barrels/Index_Barrels/149.json
Barrels/Index_Barrels/150.json
Barrels/Index_Barrels/151.json
Barrels/Index_Barrels/152.json
Barrels/Index_Barrels/153.json
Barrels/Index_Barrels/154.json
Barrels/Index_Barrels/155.json
Barrels/Index_Barrels/156.json
Barrels/Index_Barrels/157.json
Barrels/Index_Barrels/158.json
Barrels/Index_Barrels/159.json
Barrels/Index_Barrels/160.json
Barrels/Index_Barrels/161.json
Barrels/Index_Barrels/162.json
Barrels/Index_Barrels/163.json
Barrels/Index_Barrels/164.json
Barrels/Index_Barrels/165.json
Barrels/Index_Barrels/166.json
Barrels/Index_Barrels/167.json
Barrels/Index_Barrels/168.json
Barrels/Index_Barrels/169.json
Barrels/Index_Barrels/170.json
Barrels/Index_Barrels/171.json
Barrels/Index_Barrels/172.json
Barrels/Index_Barrels/173.json
Barrels/Index_Barrels/174.json
Barrels/Index_Barrels/175.json
Barrels/Index_Barrels/176.json
Barrels/Index_Barrels/177.json
Barrels/Index_Barrels/178.json
Barrels/Index_Barrels/179.json
Barrels/Index_Barrels/180.json
Barrels/Index_Barrels/181.json
Barrels/Index_Barrels/182.json
Barrels/Index_Barrels/183.json
Barrels/Index_Barrels/184.json
Barrels/Index_Barrels/185.json
Barrels/Index_Barrels/186.json
Barrels/Index_Barrels/187.json
Barrels/Index_Barrels/188.json
Barrels/Index_Barrels/189.json
Barrels/Index_Barrels/190.json
Barrels/Index_Barrels/191.json
Barrels/Index_Barrels/192.json
Barrels/Index_Barrels/193.json
Barrels/Index_Barrels/194.json
Barrels/Index_Barrels/195.json
Barrels/Index_Barrels/196.json
Barrels/Index_Barrels/197.json
Barrels/Index_Barrels/198.json
Barrels/Index_Barrels/199.json
Barrels/Index_Barrels/200.json
Barrels/Index_Barrels/201.json
Barrels/Index_Barrels/202.json
Barrels/Index_Barrels/203.json
Barrels/Index_Barrels/204.json
Barrels/Index_Barrels/205.json
Barrels/Index_Barrels/206.json
Barrels/Index_Barrels/207.json
Barrels/Index_Barrels/208.json
Barrels/Index_Barrels/209.json
Barrels/Index_Barrels/210.json
Barrels/Index_Barrels/211.json
Barrels/Index_Barrels/212.json
Barrels/Index_Barrels/213.json
Barrels/Index_Barrels/214.json
Barrels/Index_Barrels/215.json
Barrels/Index_Barrels/216.json
Barrels/Index_Barrels/217.json
Barrels/Index_Barrels/218.json
Barrels/Index_Barrels/219.json
Barrels/Index_Barrels/220.json
Barrels/Index_Barrels/221.json
Barrels/Index_Barrels/222.json
Barrels/Index_Barrels/223.json
Barrels/Index_Barrels/224.json
Barrels/Index_Barrels/225.json
Barrels/Index_Barrels/226.json
Barrels/Index_Barrels/227.json
Barrels/Index_Barrels/228.json
Barrels/Index_Barrels/229.json
Barrels/Index_Barrels/230.json
Barrels/Index_Barrels/231.json
Barrels/Index_Barrels/232.json
Barrels/Index_Barrels/233.json
Barrels/Index_Barrels/234.json
Barrels/Index_Barrels/235.json
Barrels/Index_Barrels/236.json
Barrels/Index_Barrels/237.json
Barrels/Index_Barrels/238.json
Barrels/Index_Barrels/239.json
Barrels/Index_Barrels/240.json
Barrels/Index_Barrels/241.json
Barrels/Index_Barrels/242.json
Barrels/Index_Barrels/243.json
Barrels/Index_Barrels/244.json
Barrels/Index_Barrels/245.json
Barrels/Index_Barrels/246.json
Barrels/Index_Barrels/247.json
Barrels/Index_Barrels/248.json
Barrels/Index_Barrels/249.json
Barrels/Index_Barrels/250.json
Barrels/Index_Barrels/251.json
Barrels/Index_Barrels/252.json
Barrels/Index_Barrels/253.json
Barrels/Index_Barrels/254.json
Barrels/Index_Barrels/255.json
Barrels/Index_Barrels/256.json
Barrels/Index_Barrels/257.json
Barrels/Index_Barrels/258.json
Barrels/Index_Barrels/259.json
Barrels/Index_Barrels/260.json
Barrels/Index_Barrels/261.json
Barrels/Index_Barrels/262.json
Barrels/Index_Barrels/263.json
Barrels/Index_Barrels/264.json
Barrels/Index_Barrels/265.json
Barrels/Index_Barrels/266.json
Barrels/Index_Barrels/267.json
Barrels/Index_Barrels/268.json
Barrels/Index_Barrels/269.json
Barrels/Index_Barrels/270.json
Barrels/Index_Barrels/271.json
Barrels/Index_Barrels/272.json
Barrels/Index_Barrels/273.json
Barrels/Index_Barrels/274.json
Barrels/Index_Barrels/275.json
Barrels/Index_Barrels/276.json
Barrels/Index_Barrels/277.json
Barrels/Index_Barrels/278.json
Barrels/Index_Barrels/279.json
Barrels/Index_Barrels/280.json
Barrels/Index_Barrels/281.json
Barrels/Index_Barrels/282.json
Barrels/Index_Barrels/283.json
Barrels/Index_Barrels/284.json
Barrels/Index_Barrels/285.json
Barrels/Index_Barrels/286.json
Barrels/Index_Barrels/287.json
Barrels/Index_Barrels/288.json
Barrels/Index_Barrels/289.json
Barrels/Index_Barrels/290.json
Barrels/Index_Barrels/291.json
Barrels/Index_Barrels/292.json
Barrels/Index_Barrels/293.json
Barrels/Index_Barrels/294.json
Barrels/Index_Barrels/295.json
Barrels/Index_Barrels/296.json
Barrels/Index_Barrels/297.json
Barrels/Index_Barrels/298.json
Barrels/Index_Barrels/299.json
Barrels/Index_Barrels/300.json
Barrels/Index_Barrels/301.json
Barrels/Index_Barrels/302.json
Barrels/Index_Barrels/303.json
Barrels/Index_Barrels/304.json
Barrels/Index_Barrels/305.json
Barrels/Index_Barrels/306.json
Barrels/Index_Barrels/307.json
Barrels/Index_Barrels/308.json
Barrels/Index_Barrels/309.json
Barrels/Index_Barrels/310.json
Barrels/Index_Barrels/311.json
Barrels/Index_Barrels/312.json
Barrels/Index_Barrels/313.json
Barrels/Index_Barrels/314.json
Barrels/Index_Barrels/315.json
Barrels/Index_Barrels/316.json
Barrels/Index_Barrels/317.json
Barrels/Index_Barrels/318.json
Barrels/Index_Barrels/319.json
Barrels/Index_Barrels/320.json
Barrels/Index_Barrels/321.json
Barrels/Index_Barrels/322.json
Barrels/Index_Barrels/323.json
Barrels/Index_Barrels/324.json
Barrels/Index_Barrels/325.json
Barrels/Index_Barrels/326.json
Barrels/Index_Barrels/327.json
Barrels/Index_Barrels/328.json
Barrels/Index_Barrels/329.json
Barrels/Index_Barrels/330.json
Barrels/Index_Barrels/331.json
Barrels/Index_Barrels/332.json
Barrels/Index_Barrels/333.json
Barrels/Index_Barrels/334.json
Barrels/Index_Barrels/335.json
Barrels/Index_Barrels/336.json
Barrels/Index_Barrels/337.json
Barrels/Index_Barrels/338.json
Barrels/Index_Barrels/339.json
Barrels/Index_Barrels/340.json
Barrels/Index_Barrels/341.json
Barrels/Index_Barrels/342.json
Barrels/Index_Barrels/343.json
Barrels/Index_Barrels/344.json
Barrels/Index_Barrels/345.json
Barrels/Index_Barrels/346.json
Barrels/Index_Barrels/347.json
Barrels/Index_Barrels/348.json
Barrels/Index_Barrels/349.json
Barrels/Index_Barrels/350.json
Barrels/Index_Barrels/351.json
Barrels/Index_Barrels/352.json
Barrels/Index_Barrels/353.json
Barrels/Index_Barrels/354.json
Barrels/Index_Barrels/355.json
Barrels/Index_Barrels/356.json
Barrels/Index_Barrels/357.json
Barrels/Index_Barrels/358.json
Barrels/Index_Barrels/359.json
Barrels/Index_Barrels/360.json
Barrels/Index_Barrels/361.json
Barrels/Index_Barrels/362.json
Barrels/Index_Barrels/363.json
Barrels/Index_Barrels/364.json
Barrels/Index_Barrels/365.json
Barrels/Index_Barrels/366.json
Barrels/Index_Barrels/367.json
Barrels/Index_Barrels/368.json
Barrels/Index_Barrels/369.json
Barrels/Index_Barrels/370.json
Barrels/Index_Barrels/371.json
Barrels/Index_Barrels/372.json
Barrels/Index_Barrels/373.json
Barrels/Index_Barrels/374.json
Barrels/Index_Barrels/375.json
Barrels/Index_Barrels/376.json
Barrels/Index_Barrels/377.json
Barrels/Index_Barrels/378.json
Barrels/Index_Barrels/379.json
Barrels/Index_Barrels/380.json
Barrels/Index_Barrels/381.json
Barrels/Index_Barrels/382.json
Barrels/Index_Barrels/383.json
Barrels/Index_Barrels/384.json
Barrels/Index_Barrels/385.json
Barrels/Index_Barrels/386.json
Barrels/Index_Barrels/387.json
Barrels/Index_Barrels/388.json
Barrels/Index_Barrels/389.json
Barrels/Index_Barrels/390.json
Barrels/Index_Barrels/391.json
Barrels/Index_Barrels/392.json
Barrels/Index_Barrels/393.json
Barrels/Index_Barrels/394.json
Barrels/Index_Barrels/395.json
Barrels/Index_Barrels/396.json
Barrels/Index_Barrels/397.json
Barrels/Index_Barrels/398.json
Barrels/Index_Barrels/399.json
Barrels/Index_Barrels/Index_Barrels.zip
