1000_clean_dataset.json
Lexicon.csv
Forward_index.json
TheCleanData.json
Inverted_index.json
lexi.csv
.gitignore
.vscode/settings.json
1000_clean.json
ForwardIndex.jpg
Inverted Index structure.txt
LexiconFinal.csv
Scratch.py
vectors.npy
Barrels/Clusters_KMEANS.csv
Barrels/clusters.npy
Barrels/vectors_2D_tSNE.npy
Barrels/vectors_3D_tSNE.npy
Clusters.csv
offsets.csv
.vscode/tasks.json
Misc/
Barrels/
.vscode/
Scratch.py
Scratch2.py